$primary-color: #ff0055;
$secondary-color: salmon;

body {
    text-align: center;
    
    main {
        border-radius: 5px;
        padding: 5em;
        max-width: 900px;
        margin: 4em auto 0;

        .quoteTile {
            border: solid 1px #444;
            border-radius: 5px;
            padding: 2em 4em;

            img {
                height: 40px;
                width: auto;
                display: inline-block;
                margin: 0;
            }

            p {
                font-size: 36px;
                line-height: 46px;
            }

            sub {
                font-size: 20px;
                line-height: 40px;
                display: block;
                padding: 0;
            }
        }
    }
}